<div class="container navigation">
  <nav class="navbar fixed-top border-bottom bg-dark" data-bs-theme="dark">
    <div class="container-fluid justify-content-start">
      <div class="logo me-2">
        <a href="#" class="navbar-brand">
          <img src="../static/icons/dokumente.png" alt="" width="30">
          Haushalt 8.0
        </a>
      </div>
      <button class="btn btn-outline-success me-2 active">
        <img src="../static/icons/dokumente.png" alt="">
        Dokumente
      </button>
      <button class="btn btn-outline-success me-2">Berichte</button>
      <button class="btn btn-outline-success me-2">Information</button>
    </div>
  </nav>
</div>