<div class="container navigation">
    <nav class="navbar fixed-top border-bottom bg-dark" data-bs-theme="dark">
        <div class="container-fluid justify-content-start">
            <!-- Logo -->
            <div class="logo me-2">
                <a href="#" class="navbar-brand">
                    <i class="bi bi-cash-coin" style="color: green;"></i>
                    Haushalt 8.0
                </a>
            </div>

            <!-- Dropdawn-Menu -->
            <ul class="nav nav-tabs">
                <!-- Dokumente -->
                <li class="nav-item dropdown">
                    <button class="btn btn-outline-success dropdown-toggle me-2" data-bs-toggle="dropdown" href="#"
                        aria-expanded="false">
                        <i class="bi bi-files"></i>
                        Dokumente
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-credit-card" style="color: red;"></i>
                                Kontenauszüge
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-cart3" style="color: red;"></i>
                                Ausgaben
                            </a>
                        </li>
                        <li><a class="dropdown-item" href="#">Einkommen</a></li>
                        <li><a class="dropdown-item" href="#">Überweisungen</a></li>
                    </ul>

                </li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul>

            <!--  -->


            <button class="btn btn-outline-success me-2">
                <i class="bi bi-clipboard2-data"></i>
                Berichte
            </button>
            <button class="btn btn-outline-success me-2">
                <i class="bi bi-info-circle"></i>
                Information
            </button>
            <button class="btn btn-outline-success me-2">
                <i class="bi bi-gear"></i>
                Einstellungen
            </button>
        </div>
    </nav>
</div>